@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@import 'constants/colors.css'; 
@import 'header.css';
@import 'body.css';

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
  max-height: 100vh;
}

body {
  background: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem Roboto, sans-serif;
  color: var(--color-text-base);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

footer {
  bottom: 0;
}