:root {
  --color-background: #f2f2f2;
  --color-primary: #04d361;
  --color-primary-dark: #05a44c;
  --color-primary-darker: #098742;
  --color-secundary: #464646;
  --color-secundary-dark: #262626;
  --color-title-in-primary: #ffffff;
  --color-text-base: #3c413b;
}